@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --deep-blue: #021c49;
  --light-blue: #4da3ff;
  --white: #ffffff;
  --black: #000000;
  --sky-blue: #30a8de;
  --lato-regular: "Lato", sans-serif;
}
.container {
  max-width: 1488px;
}

html,
body {
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.primary-btn {
  font-family: var(--lato-regular);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  background: var(--sky-blue);
  border: 1px solid var(--sky-blue);
  padding: 18px 38px;
  color: var(--white);
  border-radius: 100px;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background: var(--light-blue);
  border: 1px solid var(--light-blue);
}
.secondary-btn {
  background: none;
  border: 1px solid var(--black);
  margin-left: 17px;
  color: var(--black);
  font-family: var(--lato-regular);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  padding: 18px 38px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
.secondary-btn:hover {
  background: var(--sky-blue);
  border: 1px solid transparent;
  color: var(--white);
}

.title-2 {
  font-family: var(--lato-regular);
  font-weight: 400;
  color: var(--white);
  font-size: 37px;
  letter-spacing: 6px;
}
.title-2 > div {
  font-size: 26px;
  letter-spacing: 8px;
  margin-bottom: 15px;
}
.p-text {
  font-family: var(--lato-regular);
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
  font-size: 18px;
  line-height: calc(34 / 18);
  margin-top: 16px;
}
.title-4 {
  font-size: 26px;
  font-family: var(--lato-regular);
  color: var(--white);
  font-weight: 400;
  letter-spacing: 3px;
}
/* ================ Header Section ================== */
.header-sec {
  background: var(--deep-blue);
}
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6);
}

.nav-items {
  margin-right: 55px;
}
.nav-items:last-child {
  margin-right: 40px;
}
.nav-links {
  position: relative;
  font-family: var(--lato-regular);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 4px;
  color: var(--white);
  padding: 0 !important;
  transition: color 0.3s ease;
}
.nav-links:hover,
.nav-links.active {
  color: var(--sky-blue);
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--sky-blue);
  transition: width 0.3s ease;
}

.nav-links:hover::after,
.nav-links.active::after {
  width: 100%;
}

/* ================ Banner Section ================== */
.banner-sec {
  min-height: 830px;
  background:
    linear-gradient(
      to right,
      rgba(145, 208, 253, 0.56) 40%,
      rgba(255, 255, 255, 0) 65%
    ),
    url("../asset/banner-bg.png") no-repeat right / cover;
}

.title-1 {
  font-family: var(--lato-regular);
}

.small {
  font-size: 27px;
  letter-spacing: 20px;
  color: #0d3b66;
}

.big {
  font-size: 80px;
  letter-spacing: 15px;
  font-weight: 600;
}

.medium {
  font-size: 43px;
  letter-spacing: 15px;
}

/* ================ About Section ================== */
.about-sec {
  background:
    linear-gradient(
      270deg,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../asset/about-bg.png") no-repeat center / cover;
  min-height: 942px;
  padding-top: 77px;
}

.about-sec .title-4 {
  color: var(--deep-blue);
  margin: 0 71px 41px auto;
  max-width: 768px;
}
.box {
  background: var(--deep-blue);
  max-width: 662px;
  width: 100%;
  padding: 60px 48px 60px 71px;
  border-radius: 25px;
  color: white;
  z-index: 2;
}
.about-btn {
  margin-top: 34px;
}

.abt-corner-dots {
  right: -35px;
  bottom: -40px;
}

/* ================ Services Section ================== */
.services-sec {
  background: var(--deep-blue);
  padding: 95px 0;
}

.service-card {
  background: linear-gradient(
    to bottom,
    rgba(40, 99, 202, 1) 0%,
    rgba(7, 68, 174, 1) 100%
  );
  padding: 32px 25px 36px 35px;
  border-radius: 21px;
  border: none;
}
.mb-35 {
  margin-bottom: 35px;
}
.card-link {
  font-size: 16px;
  letter-spacing: 2px;
  color: var(--white);
  margin-top: 24px;
  display: inline-block;
  position: relative;
}

.card-link:hover {
  color: var(--sky-blue);
}

.service-content {
  max-width: 933px;
  margin-top: 95px;
}

.mt-31 {
  margin-top: 31px;
}
.services-btn > .secondary-btn {
  margin-left: 0;
  border: 1px solid var(--white);
  color: var(--white);
}

.card-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background: var(--sky-blue);
  transition: all 0.3s ease;
}

.card-link:hover::after {
  width: 100%;
}

/* ================ Review Section ================== */
.reviews-text > .p-text {
  max-width: 1105px;
  color: var(--black);
  margin: 16px auto 0;
}
.reviews-card {
  border-radius: 21px;
  box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.16);
  padding: 41px 30px 58px;
  transition: 0.3s ease;
}
.card-body {
  padding: 0;
}

.reviews-card:hover {
  box-shadow: 0px 8px 48px rgba(0, 0, 0, 0.2);
}

.stars img {
  margin-right: 10px;
}

.title-2 {
  letter-spacing: 6px;
}

.review-symbol {
  bottom: -20px;
  right: 30px;
}

.app-bg {
  background: url("../asset/appointment-bg.png") no-repeat center / cover;
  border-radius: 50px;
  z-index: 2;
}

.circle-img {
  right: -36px;
  top: -42px;
}
.circle-img img {
  display: block;
  max-width: 100%;
  z-index: 0;
}

.app-btn > .secondary-btn {
  margin-left: 0;
  border: 1px solid var(--white);
  color: var(--white);
}
.app-btn > .secondary-btn:hover {
  border: 1px solid transparent;
}

/* ==========================* Media screen *===================== */

@media screen and (max-width: 875px) {
  .title-1,
  .banner-btn {
    text-align: center;
  }
  .big {
    font-size: 42px;
  }
  .medium {
    font-size: 24px;
  }
  .small {
    font-size: 16px;
    letter-spacing: 6px;
  }
  .box {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .abt-corner-dots {
    right: -20px;
    bottom: -60px;
    transform: scale(0.8);
  }
  .about-sec .title-4 {
    margin: 0 auto 41px;
  }
  .title-4 {
    text-align: center !important;
    margin: 0 auto 24px;
  }
  .about-btn {
    text-align: center;
  }

  .about-btn .primary-btn {
    padding: 14px 36px;
    font-size: 17px;
  }
  .card-icon {
    text-align: center;
  }
  .card-link {
    text-align: end;
  }
  .service-content {
    text-align: center;
  }
}

@media screen and (max-width: 670px) {
  .box {
    padding: 32px 24px;
    border-radius: 18px;
  }

  .abt-corner-dots {
    position: static;
    margin-top: 16px;
    text-align: center;
  }

  .abt-corner-dots img {
    max-width: 120px;
    margin: 0 auto;
  }

  .title-2 {
    font-size: 28px;
  }

  .title-4 {
    font-size: 16px;
    text-align: center !important;
  }

  .p-text {
    font-size: 14px;
    line-height: 1.6;
  }
  .abt-corner-dots img {
    display: none;
  }
}
@media screen and (max-width: 580px) {
  .big {
    font-size: 32px;
  }
  .medium {
    font-size: 18px;
  }
  .small {
    font-size: 15px;
    letter-spacing: 3px;
  }

  .banner-btn {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  .primary-btn,
  .secondary-btn {
    display: block;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    text-align: center;
  }

  .secondary-btn {
    margin-top: 15px;
    margin-left: 0;
  }

  .card-body > img {
    display: none;
  }
  .app-bg {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 390px) {
  .big {
    font-size: 32px;
  }
  .medium {
    font-size: 18px;
  }
  .small {
    font-size: 15px;
    letter-spacing: 3px;
  }
  .secondary-btn {
    margin-left: 0;
    margin-top: 15px;
    display: inline-block;
  }
  .review-symbol {
    display: none;
  }
  .app-heading {
    font-size: 18px;
  }
}
